*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  height: 100%;
  background-image: url('https://lh3.googleusercontent.com/proxy/8VWegfKLJBiLu4O_yLnSesSYypnxHqvwi-JHd7Yd00yjJLuX4KBJ1pXPiZLQqyr0SP4kSOmMYUHRIe7YW3FYrqfVHmp0FsnZ3Ee72r36Zr8');
}

.title{
  margin: 2rem auto;
  text-align: center;
  color: rgb(255, 251, 0);
  user-select: none;
}

.carousel-container{
  width: 600px;
  height: 300px;
  margin: auto;
  margin-top: 5rem;
  overflow: hidden;
  position: relative;
  box-shadow: 1px 1px 20px 5px white;
}

.img-carousel{
  display: flex;
  width: 100%;
  height: 100%;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

.buttons{
  width: 330px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;
}

.buttons div{
  height: 30px;
  width: 30px;
  background: lightskyblue;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.active-btn{
  background-color: yellow  !important;
}

.buttons div:hover{
  background-color: yellow;
}

@media screen and (max-width: 600px){
  .title{
    font-size: 27px;
  }

  .carousel-container{
    width: 400px;
    height: 200px;
  }
}